.br-0{
    border-radius: 0%;
}

button{
    background: #281F36!important;
    border: 1px solid #281F36!important;
}

button:hover{
    border: 1px solid #281F36 !important;
    color: #281F36!important;
    background-color: #fff!important;
}

.form-control:focus
{
    box-shadow: 0!important;
    border-color: inherit;
}